path {
    stroke: #000;
}

div.mapSlider {
    width: 40%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

table {
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

div.spacer {
    padding: 30px;
}

div.header {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 30px;
}